application.name                        {{ jira_application_name }}
application.password                    {{ jira_application_password }}
application.login.url                   {{ jira_crowd_base_url }}/console/

crowd.server.url                        {{ jira_crowd_base_url }}/services/
crowd.base.url                          {{ jira_crowd_base_url }}/

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              5
session.lastvalidation                  session.lastvalidation
